<?xml version="1.0" encoding="UTF-8" ?>

<web-app>
	<welcome-file-list>
		<welcome-file>AuthenticationSimple.html</welcome-file>
		<welcome-file>cookies.html</welcome-file>
		<welcome-file>hidden.html</welcome-file>
		<welcome-file>url.html</welcome-file>
		<welcome-file>sessions.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>HelloWorld</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>	
	</servlet-mapping>
	<servlet>
		<servlet-name>Authenticate</servlet-name>
		<servlet-class>Authenticate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Authenticate</servlet-name>
		<url-pattern>/Authenticate</url-pattern>	
	</servlet-mapping>
	<servlet>
		<servlet-name>Cookie1</servlet-name>
		<servlet-class>Cookie1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cookie1</servlet-name>
		<url-pattern>/Cookie1</url-pattern>	
	</servlet-mapping>
	<servlet>
		<servlet-name>Cookie2</servlet-name>
		<servlet-class>Cookie2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cookie2</servlet-name>
		<url-pattern>/Cookie2</url-pattern>	
	</servlet-mapping>
	<servlet>
		<servlet-name>Url1</servlet-name>
		<servlet-class>Url1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Url1</servlet-name>
		<url-pattern>/Url1</url-pattern>	
	</servlet-mapping>
	<servlet>
		<servlet-name>Url2</servlet-name>
		<servlet-class>Url2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Url2</servlet-name>
		<url-pattern>/Url2</url-pattern>	
	</servlet-mapping>
	<servlet>
		<servlet-name>Session1</servlet-name>
		<servlet-class>Session1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Session1</servlet-name>
		<url-pattern>/Session1</url-pattern>	
	</servlet-mapping>
	<servlet>
		<servlet-name>Session2</servlet-name>
		<servlet-class>Session2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Session2</servlet-name>
		<url-pattern>/Session2</url-pattern>	
	</servlet-mapping>
	<servlet>
		<servlet-name>Hidden1</servlet-name>
		<servlet-class>Hidden1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hidden1</servlet-name>
		<url-pattern>/Hidden1</url-pattern>	
	</servlet-mapping>
	<servlet>
		<servlet-name>Hidden2</servlet-name>
		<servlet-class>Hidden2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Hidden2</servlet-name>
		<url-pattern>/Hidden2</url-pattern>	
	</servlet-mapping>
</web-app>

